@model WFM.UI.Models.InvoiceView
@using WFM.BAL.Enums
@using WFM.BAL.Helpers


<div class="row m-5" id="printThis">

    <table class="report-container h-auto" width="1100">
        <thead class="report-header">
            <tr>
                <td class="report-header-cell">
                    <div class="row text align-baseline mb-2">
                            
                        <div class="header-info col-5 flex flex-row text-left">
                            @if (Model.OrderType == "STA")
                            {


                                <h1>Tax Invoice</h1>
                            }
                            else
                            {
                                <h1>Invoice</h1>
                            }


                        </div>
                        <div class="header-info col-6 text-right align-top">
                            @switch (Model.OrderType)
                            {
                                case "ST":
                                    <img src="~/Resources/ST-print-invoice.png" width="300" />
                                    break;

                                case "STA":
                                    <img src="~/Resources/print-logo.png" width="250" />
                                    break;
                                case "STB":
                                    <img src="~/Resources/STB-print-invoice.png" width="300" />
                                    break;
                                case "STW":
                                    <img src="~/Resources/print-logo.png" width="300" />
                                    break;
                                case "STI":
                                    <img src="~/Resources/print-logo.png" width="300" />
                                    break;
                                default: <img src="~/Resources/ST-print-invoice.png" width="300" />break;
                            }
                            @*<p>@Model.Order.OrderType</p>*@

                        </div>
                    </div>
                </td>

            </tr>
        </thead>


        <tbody class="report-content position-relative">

            <tr class="mt-3">
                <td class="report-content-cell">
                    <div class="main">
                        <div class="col-12 mt-3">
                            <div class="row flex justify-content-between">
                                <div class="col-7 text-left flex-row">
                                    <p>
                                        <span>
                                            <span class="font-14 font-weight-bold">
                                                BILL TO :<br>&ensp;Client Name :
                                            </span>
                                            @Html.DisplayFor(q => q.ClientName)
                                        </span><br>
                                        <span>
                                            <span class="font-14 font-weight-bold">
                                                &ensp;Client Address :
                                            </span>
                                            @Html.DisplayFor(q => q.ClientAddress)
                                        </span>
                                    </p>

                                </div>
                                <div class="col-4 text-left mr-5 flex-column align-items-end">
                                    <br />
                                    <p class="font-14 font-weight-bold mb-1">
                                            Invoice No :<span class="font-weight-normal">@Html.DisplayFor(q => q.Code)</span>
                                    </p>
                                    <p class="font-14 font-weight-bold">
                                        Invoice Date : <span class="font-weight-normal">@Html.DisplayFor(q => q.CreatedDateString)</span>
</p>
                                       
                                </div>
                            </div>
                            @*Client vat number*@
                            @if (Model.OrderType == "STA" || Model.OrderType == "STCW"|| Model.OrderType == "STI")
                            {
                                <div class="row flex justify-content-between mt-2">
                                    <div class="col-7 text-left flex-row">
                                        <p>
                                            <span>
                                                <span class="font-14 font-weight-bold">
                                                    Client Vat No :
                                                </span>
                                                @Html.DisplayFor(q => q.ClientVatNo)
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-4 text-left mr-5 flex-column align-items-end">
                                        <p class="font-14 font-weight-bold">
                                                    Vat No :<span class="font-weight-normal">@Html.DisplayFor(q => q.VatNo)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row flex justify-content-between  mt-2">
                                    <div class="col-7 text-left flex-row">
                                        <p>
                                            <span>
                                                <span class="font-14 font-weight-bold">
                                                    Client Svat No :
                                                </span>
                                                @Html.DisplayFor(q => q.ClientSVatNo)
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-4 text-left mr-5 flex-column align-items-end">
                                        <p class="font-14 font-weight-bold">
                                                    Svat No :<span>
                                                </span>
                                                @*@Html.DisplayFor(q => q.VatNo)*@
                                            
                                        </p>
                                    </div>

                                </div>

                            }

                            <div class="row flex justify-content-between  mt-2">
                                <div class="col-7 text-left flex-row">
                                    <p>
                                        <span>
                                            <span class="font-14 font-weight-bold">
                                                P.O NO :
                                            </span>
                                            @*@Html.DisplayFor(q => q.ClientName)*@
                                        </span>
                                    </p>
                                </div>
                                <div class="col-4 text-left mr-5 flex-column align-items-end">
                                    <p class="font-14 font-weight-bold">
                                                Job No :
                                            <span class="font-weight-normal">
                                            @Html.DisplayFor(q => q.OrderCode)
                                        </span>
                                    </p>
                                </div>

                            </div>
                        </div>

                        <div class="col-12 mt-5">
                            <table class="border-light col-12">
                                <tr style="background-color:gray" class="border">
                                    <th class="py-2 px-3 border-right">S/NO</th>
                                    <th class="py-2 px-3 border-right">PRODUCT TITLE</th>
                                    <th class="py-2 px-3 border-right">QTY</th>
                                    <th class="py-2 px-3 border-right">RATE(LKR)</th>
                                    <th class="py-2 px-3">AMOUNT(LKR)</th>
                                </tr>
                                @if (Model != null)
                                {
                                    var count = 0;
                                    foreach (var item in Model.Items)
                                    {
                                        count++;
                                        var rowcolor = "";
                                        if (count >= 2 && count % 2 == 0)
                                        {
                                            rowcolor = "lightgrey";
                                        }
                                        else
                                        {
                                            rowcolor = "";
                                        }

                                        <tr style="background-color:@rowcolor">
                                            <td class="border-right border-1 px-1 text-center">@count</td>
                                            <td  class="border-right border-1 px-3 pr-5">@item.Category.Name.ToString()</td>
                                            <td class="border-right border-1 px-2 text-center">@item.Qty</td>
                                            <td class="border-right border-1 px-2 text-right">@item.UnitCost.ToString("N2")</td>
                                            <td class="px-2 text-right">@item.TotalCost.ToString("N2")</td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td>
                                        <br />
                                        <br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    
                                    <td colspan="2" class="text-right font-bold font-12 pr-2">TOTAL : </td>
                                    <td class="text-right font-bold font-12">@Html.DisplayFor(q => q.orderTotal)</td>
                                </tr>
                                @if (Model.OrderType == "STA")
                                {
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td colspan="2" class="text-right font-bold font-12 pr-2">VAT(@Html.DisplayFor(q => q.Order.VatPercentage)%) : </td>
                                        <td class="text-right font-bold font-12">@Html.DisplayFor(q => q.vatAmount)</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        
                                        <td colspan="2" class="text-right font-bold font-12 pr-2">TOTAL WITH VAT : </td>
                                        <td class="text-right font-bold font-12">@Html.DisplayFor(q => q.TotalWithVat)</td>
                                    </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td colspan="2" class="text-right font-bold font-12 pr-2">(LESS) ADVANCE RECEIVED :</td>
                                    <td class="text-right font-bold font-12">@Html.DisplayFor(q => q.AdvancePayment)</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                   
                                    <td colspan="2" class="text-right font-bold font-12 pr-2">BALANCE DUE : </td>
                                    <td class="text-right font-bold font-12">@Html.DisplayFor(q => q.BalancePayment)</td>
                                </tr>

                            </table>

                        </div>
                    </div>
                </td>
            </tr>
            <tr class="align-bottom">
                <td>
                    <div class="col-12 position-relative">
                        <div class="col-9 ml-1 mt-5 border row">
                            <div class="col-3 py-3 px-0">
                                <p class="mb-1">ACCOUNT NAME</p>
                                <p class="mb-1">ACCOUNT NUMBER</p>
                                <p class="mb-1">BANK NAME</p>
                                <p class="mb-1">BRANCH</p>
                                <p class="mb-1">ADDRESS</p>
                                <p class="mb-1">BANK CODE</p>
                                <p class="mb-1">BRANCH CODE</p>
                                <p class="mb-1">SWIFT CODE</p>
                            </div>

                            <div class="col-9 py-3 px-0">
                                @switch (Model.OrderType)
                                {
                                    case "STA":
                                        <p class="mb-1 nowrap">: Sign Tech Advertising Services (Pvt) Ltd</p>
                                        <p class="mb-1">: 0075379404</p>
                                        break;
                                    case "ST":
                                        <p class="mb-1">: Sign Tech (Pvt) Ltd</p>
                                        <p class="mb-1">: 85358292</p>
                                        break;
                                    case "STB":
                                        <p class="mb-1 nowrap">: Sign Tech Branding Solutions (Pvt) Ltd</p>
                                        <p class="mb-1">: 0090561404</p>
                                        break;
                                    case "STP":
                                        <p class="mb-1">: Sign Tech Project (Pvt) Ltd</p>
                                        <p class="mb-1">: 0075379404</p>
                                        break;
                                    case "STCW":
                                        <p class="mb-1">: Sign Tech Advertising Services (Pvt) Ltd</p>
                                        <p class="mb-1">: 0075379404</p>
                                        break;
                                    case "STI":
                                        <p class="mb-1">: Sign Tech Advertising Services (Pvt) Ltd</p>
                                        <p class="mb-1">: 0075379404</p>
                                        break;
                                    default: <p class="mb-1">: Sign Tech Advertising Services (Pvt) Ltd</p>
                                        <p class="mb-1">: 0075379404</p>
                                        break;
                                }


                                <p class="mb-1">: Bank of Ceylon</p>
                                <p class="mb-1">: Battaramulla</p>
                                <p class="mb-1">: 75A, Main Street, Sethsiripaya Circular Road, Battaramulla</p>
                                <p class="mb-1">: 7010</p>
                                <p class="mb-1">: 679</p>
                                <p class="mb-1">: BCEYLKLX</p>
                            </div>
                        </div>
                        <div class="col-9 mt-2">
                            <span class="font-bold">
                                Cheques to be drawn in favour of SIGN TECH
                                @switch (Model.OrderType)
                                {
                                    case "STA":<span> ADVERTISING SERVICES (PVT) LTD.</span>break;
                                    case "STB": <span> BRANDING SOLUTIONS (PVT) LTD.</span>break;
                                    case "ST": <span> SERVICES (PVT) LTD.</span>break;
                                    case "STP": <span> PROJECT (PVT) LTD.</span>break;
                                    default: <span> ADVERTISING SERVICES(PVT) LTD.</span>break;
                                }
                            </span>
                        </div>


                    </div>

                </td>

            </tr>
            @*<tr class="align-bottom">
                    <td>
                        <div class="">
                            <img src="~/Resources/bottom invoice.png" />
                        </div>

                    </td>
                </tr>*@

        </tbody>

    </table>
</div>
