<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Work Flow Management System</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/circular-std/style.css" />
    <link rel="stylesheet" href="~/assets/vendor/charts/chartist-bundle/chartist.css" />
    <link rel="stylesheet" href="~/assets/vendor/charts/morris-bundle/morris.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/charts/c3charts/c3.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icon-css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/css/buttons.bootstrap4.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/css/select.bootstrap4.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/css/fixedHeader.bootstrap4.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/libs/css/main.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="~/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<script src="~/Scripts/bootstrap-wysiwyg.js"></script>*@
    <link rel="stylesheet" href="~/assets/libs/css/index.css" />
    <!-- bootstap bundle js -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <link rel="stylesheet" href="~/assets/libs/css/style-light.css" />
    <script src="~/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="~/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="~/assets/vendor/charts/c3charts/C3chartjs.js"></script>
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@

    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="~/home"><img src="~/Resources/header_logo.png" width="230" /></a>
                @if (User.IsInRole("Administrator") || (User.IsInRole("Sales")) || (User.IsInRole("Finance")))
                {
                    <a class="nav-link" href="~/Order/Details"> <img src="~/assets/images/add-file.svg" style="width:35px;height:35px;" /> </a>
                    <a class="nav-link" href="~/Order"> <img src="~/assets/images/completed-order.svg" style="width:35px;height:35px;" /> </a>
                    <a class="nav-link" href="~/Quote"> <img src="~/assets/images/list-center.svg" style="width:35px;height:35px;" /></a>
                    <a class="nav-link" href="~/Quote/Details"> <img src="~/assets/images/queue-svg.svg" style="width:35px;height:35px;" /></a>
                }

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span style="margin-right: .5rem;" class="navbar-toggler-icon"><img src="~/assets/images/burger-menu.svg" style="width:35px;height:35px;" /></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        @*<li class="nav-item">
                    <div id="custom-search" class="top-search-bar">
                        <input class="form-control" type="text" placeholder="Search..">
                    </div>
                </li>*@
                        <li class="nav-item dropdown nav-user">
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    @*<a class="d-xl-none d-lg-none" href="#">Dashboard</a>*@
                    <button style="margin-top: 1rem;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Administration
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="~/home"><i class="fa fa-fw fa-tachometer"></i>Dashboard</a>
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-cogs"></i>Administration <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="Account/Login">Login Audit</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="DataAudit">Data Audit</a>
                                        </li>
                                        @if (User.IsInRole("Administrator"))
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" href="Account/register">Register User</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="AccountUser">User managment</a>
                                            </li>
                                        }
                                        @*<li class="nav-item">
                                                <a class="nav-link" href="#">Message Centre</a>
                                            </li>*@
                                    </ul>
                                </div>
                            </li>
                            @if (User.IsInRole("Administrator"))
                            {
                                <li class="nav-item ">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#master" aria-controls="master"><i class="fa fa-fw fa-folder-open"></i>Master Files<span class="badge badge-success">6</span></a>
                                    <div id="master" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Category">Product</a>
                                            </li>
                                            @*<li class="nav-item">
            <a class="nav-link" href="~/Size">Size</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Fasia">Fasia</a>
        </li>*@
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Designation">Designation</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Department">Department</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Material">Material</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/OrderType">Order Type</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Visibility"> Visibility</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Supplier"> Supplier</a>
                                            </li>

                                            @*<li class="nav-item">
            <a class="nav-link" href="~/Framework">Framework</a>
        </li>*@
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Illumination">Illumination</a>
                                            </li>
                                            @*<li class="nav-item">
            <a class="nav-link" href="~/Lettering">Lettering</a>
        </li>*@
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/DeliveryType">DeliveryType</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/WarrantyPeriod">WarrantyPeriod</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Employee">Employees</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Client">Client</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/QuoteTerm">Quote Term</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/AccountUser">User Management</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }
                            <li class="nav-divider">
                                Transctions
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#quote" aria-controls="master"><i class="fa fa-fw fa-suitcase"></i>Quotations</a>
                                <div id="quote" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        @if (User.IsInRole("Administrator") || (User.IsInRole("Finance")) )
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Quote">Quotation List</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("Administrator") || (User.IsInRole("Sales")))
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Quote/Details">New Quotation</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#order" aria-controls="master"><i class="fa fa-fw fa-wrench"></i>Job Orders</a>
                                <div id="order" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Order">Job Order List</a>
                                        </li>
                                        @if (User.IsInRole("Administrator") || (User.IsInRole("Sales")) )
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Order/Details">New Job Order</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-divider">
                                History
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="~/Quote/History"><i class= "fa fa-fw fa-folder-open-o" ></i > Quotes </a >
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="~/Order/History"><i class= "fa fa-fw fa-folder-open-o" ></i > Orders </a >
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="~/Invoice/History"><i class= "fa fa-fw fa-folder-open-o" ></i > Invoices </a >
                            </li>
                            <li class="nav-divider">
                                Reports
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="~/Report/Adhoc"><i class= "fa fa-fw fa-print" ></i > Adhoc Report </a >
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!--end left sidebar -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            @RenderBody()
            <hr />
            <!-- ============================================================== -->
            <!--footer-- >
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            Copyright © 2020 SIGN - TECH Advertising Services(Pvt) Ltd.All rights reserved.
                        </div>
                        @*<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <!-- slimscroll js -->
    <script src="~/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="~/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="~/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="~/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <script src="~/assets/vendor/datepicker/datepicker.js"></script>
    <!-- morris js -->
    <script src="~/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="~/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    @*    <script src="~/assets/libs/js/dashboard-ecommerce.js"></script>*@
    <script src="~/assets/libs/js/dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    @*<script src="~/assets/vendor/datatables/js/buttons.bootstrap4.min.js"></script>*@
    <script src="~/assets/vendor/datatables/js/data-table.js"></script>
    <script src="~/assets/vendor/select2/js/select2.min.js"></script>
    @*<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
        <script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
        <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
